.pagination-box {
  padding: 0 20px 114px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-box .pagination {
  display: flex;
  justify-content: center;
  width: max-content;
  height: 35px;
}

.pagination-box .pagination span {
  /* border: 1px solid red; */
  text-align: center;
  width: 40px;
  height: 35px;
  line-height: 35px;
  margin: 0px 2px;
}

.pagination-box .pagination a {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.pagination-box .pagination i {
  font-size: 10px;
  font-weight: 100;
}

.pagination-box .pagination .pageStyle a {
  display: block;
  text-align: center;
  width: 40px;
  height: 35px;
  line-height: 35px;
  font-weight: 300;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #e2e4eb;
  border-radius: 4px;
}

.pagination-box .pagination .pageStyle a:hover {
  background: #f9fafc;
  border: 1px solid #e2e4eb;
}

.pagination-box .pagination .pageStyle .pageStyle-active {
  background: #171717 !important;
  border: 1px solid #171717;
  color: #ffffff;
}

.pagination-box .pagination .pageStyle .pageStyle-active:hover {
  background: #171717;
  border: 1px solid #171717;
  color: #ffffff;
}

.pagination-box .pagination .prev-box,
.pagination-box .pagination .next-box {
  display: flex;
  gap: 4px;
  align-items: center;
  width: max-content;
  cursor: pointer;
  pointer-events: auto;
  user-select: auto;
  opacity: 1;
  border: 1px solid #e2e4eb;
  padding: 0 4px;
  border-radius: 4px;
}

.pagination-box .pagination .prev-box {
  margin-right: 6px;
}

.pagination-box .pagination .prev-box.prev-box-not-active {
  pointer-events: none !important;
  user-select: none !important;
  cursor: not-allowed !important;
}

.pagination-box .pagination .prev-box.prev-box-not-active .pre-icon {
  opacity: 0.4;
}

.pagination-box .pagination .prev-box.prev-box-not-active .pre-title {
  color: rgba(23, 23, 23, 0.4) !important;
}

.pagination-box .pagination .prev-box .pre-title {
  font-weight: 300;
  font-size: 14px;
  color: #171717;
  line-height: 14px;
  text-align: left;
  font-style: normal;
  width: max-content;
  height: 35px;
  line-height: 35px;
}

.pagination-box .pagination .prev-box:hover {
  border: 1px solid #e2e4eb;
  background: #f9fafc;
}

.pagination-box .pagination .next-box {
  margin-left: 6px;
}

.pagination-box .pagination .next-box.next-box-not-active {
  pointer-events: none !important;
  user-select: none !important;
  cursor: not-allowed !important;
}

.pagination-box .pagination .next-box.next-box-not-active .next-icon {
  opacity: 0.4;
}

.pagination-box .pagination .next-box.next-box-not-active .next-title {
  color: rgba(23, 23, 23, 0.4) !important;
}

.pagination-box .pagination .next-box .next-title {
  font-weight: 300;
  font-size: 14px;
  color: #171717;
  line-height: 14px;
  text-align: left;
  font-style: normal;
  width: max-content;
  height: 35px;
  line-height: 35px;
}

.pagination-box .pagination .next-box:hover {
  border: 1px solid #e2e4eb;
  background: #f9fafc;
}
